resource_group_name  = "rg-priceradar-tfstate"
storage_account_name = "stprtfstateREPLACE"
container_name       = "tfstate"
key                  = "prod.terraform.tfstate"
use_azuread_auth     = true
