location                 = "centralindia"
image_tag                = "bootstrap-placeholder"
container_apps_enabled   = true
alert_email              = ""
cicd_principal_id        = ""
cors_allowed_origins     = ""
clerk_publishable_key    = ""
clerk_jwks_url           = ""
clerk_issuer             = ""
clerk_audience           = ""
kv_allowed_ip_rules      = []
